@page "/personal/index.html"
@{
    ViewData["Title"] = "static_void - yt6983138";
    ViewData["ActiveTab"] = "Index";

    Layout = "_Layout";
}

@section Headers {
    <style>
        body {
            padding: 40px 5px;
        }

        #main {
            width: 100%;
        }
    </style>
}

<win-dialog id="main" title="About me">
    <p>
        Hello! This is my personal website, this website is about to introduce me and share techniques that took
        me really long to find. <br />
        <button onclick="document.getElementById('blog-link').click()">Checkout my blog</button> <br />
        You might have heard me on discord or other platforms in various way. <br />
        I'll introduce me in few different sections.
    </p>
    <h1>1. As a Developer</h1>
    <p>
        You may known me from my most famous project - <a href="https://github.com/yt6983138/PSLDiscordBot">PSLDiscordBot</a>. <br />
        It was made because I realized there was no score lookup bots for discord, so I decided to make one. <br /><br />

        If you are also a developer, you may want to checkout <a href="https://github.com/yt6983138">my personal page</a>.<br />
        I also have made other project like <a href="https://github.com/yt6983138/PhigrosLibraryCSharp">PhigrosLibraryCSharp</a>,
        <a href="https://github.com/yt6983138/PhigrosSaveDumper">PhigrosSaveDumper</a>,
        <a href="https://github.com/yt6983138/WPFKeyOverLay">WPFKeyOverLay</a>,
        and <a href="https://github.com/yt6983138/10CSS">10CSS</a> (the page you are currently seeing is using this), they are just not that famous.
        <br /><br />

        I started my programming journey 2 years ago (actually 8 years ago if things unuseful counted), and begin with
        C#. <br />
        I absolutely love it because its extensibility and syntax richness, you can do so many things with it,
        from low level system interoping to high level web application. <br />
        I started using it because I wanted to create a screen widget for my class, our teacher didn't put a clock in
        classroom, so I decided to make a draggable clock on screen, and it turned out quite well. <br />

        Then I'm into web development, using Blazor wasm (though turned out to be a terrible idea for simple websites),
        remember I created PSLDiscordBot? There was, in fact, an earlier version of it done using web technique,
        it was called <a href="https://github.com/yt6983138/yt6983138.github.io">RksReaderEnhanced</a> (though it wasn't
        updated anymore.) <br /><br />

        You may ask why didn't I continue using the web to do score lookups? Well, I realized I write really shitty
        websites, so I decided to redo it using Discord with since it already provides me a proper framework to do things,
        also it has much larger userbase.<br /><br />

        Now, I've been into many frameworks, ASP.NET MVC, EF Core, Blazor Ssr, Blazor wasm, and even created one on
        my own (PSLDiscordBot.Framework).
    </p>

    <h1>2. As a Rhythm Game Player</h1>
    <p>
        I started playing Phigros at 2022, which well, I don't play it anymore. <br />
        (I know I still maintain tools about it but I don't really play) <br />
        It's really fun, but the lack of phone performance and a tablet make pushing scores extremely hard so I stopped playing it,
        now my RKS is just stuck at 15.634. <br /><br />

        Then I went into osu mania, I liked the simpleness (ps. they are not) they offer, you just need to have a keyboard to play it,
        no need for phone and tablet. And there are much more songs to play, so I just stayed there until now. <br />
        <sub>Tbh I felt like I live 20 years ago lmao, not familiar with phones but only with a PC</sub><br /><br />

        I decided to stay with 6k, since 4k is a bit too boring. No fancy patterns. And 7k is a pain in the ass to play since it reqires
        my thumb.<br />
        Now I've passed 6k Regular 7dan and LN 6dan (I even passed 8th stream by 96.32%), really felt fun with it.
    </p>
</win-dialog>