@page "/personal/tools.html"
@{
    ViewData["Title"] = "static_void - yt6983138";
    ViewData["ActiveTab"] = "Tools";

    Layout = "_Layout";
}

@section Headers {
    <style>
        body {
            padding: 40px 5px;
        }

        .content {
            width: 100%;
        }
    </style>
}

<win-dialog id="main" title="Tools">
    1. <a href="/personal/psl.html">Phigros Score Lookup Online</a>: PSLDiscordBot basic functions online. (No fancy images now)<br />
</win-dialog>
